<!DOCTYPE html>
<html>
  <head>
    <title>GoodLook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFOrNoP97-Q-SwntgeKZwazdAUeapzSbM&callback=initMap">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFOrNoP97-Q-SwntgeKZwazdAUeapzSbM&callback=initMapWithAddress" async defer>
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>